* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  background-color:rgb(75, 74, 73);
  font-family: "Monserrat", sans-serif;
}

.navBar {
  background-color: rgb(255, 228, 228);
  width: 100%;
  box-shadow: 2px 2px 15px rgb(0, 0, 0);
}

.logoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgb(82, 47, 47);
  padding: 10px;
  width: 100%;

}

.logoBox--text {
  font-family: "Montserrat", sans-serif;
  margin: 10px;
}

.logoBox--img {
  background: url("../images/mars.png");
  height: 80px;
  width: 80px;
  background-size: cover;
}

/* Rover Profile */
.roverCard {
  margin:20px;
  padding: 20px;
  background-color: rgb(101, 97, 97);
  width: 300px;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: rgb(255, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 25px;
}

.roverName {
  text-transform: uppercase;
  letter-spacing: 2px;

}

.roverImage {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}